.navbar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.logo{
    font-size: 2em;
    font-weight: 600;
    color: gray;
}
.logo:hover{
    transition: 1s;
    color: white;
}
.navbar--components{
    display: flex;
    padding: 2.5em;
    width: 100%;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 23, 23);
    border-radius: 5px;
    margin: 2px ;
    overflow: hidden;
}
.navbar--divSearch{
    display: flex;
    width: max-content;
    justify-items: center;
    align-items: center;
}

.navbar--divSearch input{
    padding: 10px;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    border: none;
}
.navbar--divSearch button{
    padding: 5px;
    margin-left: 1px;
    border-radius: 0 5px 5px 0;
    background: rgb(109, 105, 105);
    cursor: pointer;
}

.navbar--divSearch button:hover{
    transform: scale(1.08);
    transition: ease-in-out;
    
}