.container--category{
    margin: 0 0.2em;
    padding: 0.5em;
    border-radius: 8px;
}


.container--category section{
    margin-top: 2em;
    
}

.categories{
    margin-left: 0.5em;
    margin-bottom: 5em;
}